<ul class="nav navbar-nav">
	<li class=" active" id="dropdown-menu--">
		<a href="index.html">Home</a>
	</li>
	<li class="dropdown" id="dropdown-menu-about">
		<a href="about/index.html">About<span class="caret"></span></a>
		<ul class="dropdown-menu">
			<li id="dropdown-menu-about-team">
				<a href="about/team/index.html">Team</a>
			</li>
			<li id="dropdown-menu-about-history">
				<a href="about/history/index.html">History</a>
			</li>
		</ul>
	</li>
	<li class="" id="dropdown-menu-blog"><a href="blog/index.html">
		Blog
		
	</a></li><li class="" id="dropdown-menu-gallery"><a href="gallery/index.html">
		Gallery
		
	</a></li><li class="dropdown" id="dropdown-menu-contact"><a href="contact/index.html">
		Contact
		<span class="caret"></span></a><ul class="dropdown-menu"><li id="dropdown-menu-contact-legals"><a href="contact/legals/index.html">Legals</a></li></ul></li><li class="" id="dropdown-menu-faqs"><a href="faqs/index.html">
			FAQs
			
		</a></li><li class="" id="dropdown-menu-portfolio"><a href="portfolio/index.html">
			Portfolio
			
		</a></li>
	</ul>