{% extends "pages/page.html" %}

{% load mezzanine_tags %}

{% block main %}

{% editable page.faqpage.content %}
{{ page.faqpage.content|richtext_filters|safe }}
{% endeditable %}

<div class="panel-group" id="faqs">
    {% for faq in page.faqpage.faqs.all %}
    
    <div class="panel panel-default">
        <div class="panel-heading">
            {% editable faq.question faq.answer %}
            <h4 class="panel-title">
                <a data-toggle="collapse" data-parent="#faqs" href="#faq-{{ faq.id }}">
                    {{ faq.question }}
                </a>
            </h4>
            {% endeditable %}
        </div>
        <div id="faq-{{ faq.id }}" class="panel-collapse collapse">
            <div class="panel-body">
                {{ faq.answer|richtext_filters|safe }}
            </div>
        </div>
    </div>

    {% endfor %}
</div>

{% endblock %}
