

{% load i18n mezzanine_tags comment_tags blog_tags %}

<script>
$(function() {
    $('.reply').click(function() {
        //$('.reply-form').hide();
        $(this).next('.reply-form').toggle();
    });
});
</script>

<script type="text/javascript">





$(document).ready(function(){
    var name_valid = 0;
    var email_valid = 0;
    var comment_valid = 0;
    var email_checked = 0;

    function checkValidForm (id) {
        var res = id.split("_");
        
        if (res.length < 3){
            id = "";
        } else {
            id = res[2];
        }

        if (!name_valid || !email_valid || !comment_valid) {
            $("#submit"+id).attr("disabled", "disabled");
        } else {
            var s = "";
            if (id != ""){
                s = "_"
            }

            var email = $("#id_email"+s+id).val();
            if (!email_checked) {
                email_checked = 1;
                checkIfEmailExistInFS(email, "id_email"+s+id);
            }
            $("#submit"+id).removeAttr("disabled");
        }
    }

    function validateEmail(email) {
        var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
        return re.test(email);
    }

    function checkIfEmailExistInFS(email, id) {

        $.ajax({
          type:    "POST",
          url:     "https://api.firstsynch.com/api/v1/accounts/signupemail/",
          data:    {"e_mail":email.toLowerCase().replace(/\s/g, '')},
          success: function(data) {
                //TODO : here we have to add in database
                $("#no_fs_"+id).val(0);
          },
          // vvv---- This is the new bit
          error:   function(jqXHR, textStatus, errorThrown) {
                $("#no_fs_"+id).val(1);
          }
        });

    }

    $('[id^=id_name]').keyup(function(){
        
        name_length = $("#"+this.id).val().length;
        console.log(name_length);
        if (name_length > 3) {
            //$("#id_name").css("border-bottom-color","#00b58e");
            $("#"+this.id).addClass("has-success");
            $(".input_"+this.id+" label").addClass("has-success");
            name_valid = 1;

        } else {
            //$("#id_name").css("border-bottom-color","red");
            $(".input_"+this.id+" label").removeClass("has-success");
            $("#"+this.id).removeClass("has-success");
            $("#"+this.id).addClass("has-error");
            name_valid = 0;
        }

        checkValidForm(this.id);
    });

    console.log(window.cookiedata)

    $('[id^=id_email]').keyup(function() {
         var sEmail = $("#"+this.id).val();
         if ($.trim(sEmail).length == 0 || !validateEmail(sEmail)) {
            $(".input_"+this.id+" label").removeClass("has-success");
            $("#"+this.id).removeClass("has-success");
             $("#"+this.id).addClass("has-error");
             email_valid = 0;
         } else {
             $("#"+this.id).addClass("has-success");
             $(".input_"+this.id+" label").addClass("has-success");
             //checkIfEmailExistInFS(sEmail, this.id);
             email_valid = 1;
         }
         checkValidForm(this.id);
    });

    $('[id^=id_comment]').keyup(function() {
         var text = $("#"+this.id).val();
         if ($.trim(text).length > 3 ) {
            $("#"+this.id).addClass("has-success-text");
            comment_valid = 1;
         } else {
            $("#"+this.id).removeClass("has-success-text");
            comment_valid = 0;
         }
         checkValidForm(this.id);
    });
/*
    $("#id_name").keyup(function(){
        name_length = $("#id_name").val().length;
        if (name_length > 3) {
            //$("#id_name").css("border-bottom-color","#00b58e");
            $("#id_name").addClass("has-success");
            $(".input_id_name label").addClass("has-success");
            name_valid = 1;

        } else {
            //$("#id_name").css("border-bottom-color","red");
            $(".input_id_name label").removeClass("has-success");
            $("#id_name").removeClass("has-success");
            $("#id_name").addClass("has-error");
            name_valid = 0;
        }
        checkValidForm();
    });

    $('#id_email').keyup(function() {
         var sEmail = $('#id_email').val();
         if ($.trim(sEmail).length == 0 || !validateEmail(sEmail)) {
            $(".input_id_email label").removeClass("has-success");
            $("#id_email").removeClass("has-success");
             $("#id_email").addClass("has-error");
             email_valid = 0;
         } else {
             $("#id_email").addClass("has-success");
             $(".input_id_email label").addClass("has-success");
             email_valid = 1;
         }
         checkValidForm();
    });


    $('#id_comment').keyup(function() {
         var text = $('#id_comment').val();
         if ($.trim(text).length > 3 ) {
            $("#id_comment").addClass("has-success-text");
            comment_valid = 1;
         } else {
            $("#id_comment").removeClass("has-success-text");
            comment_valid = 0;
         }
         checkValidForm();
    });
*/    

});
</script>

<div class="col-sm-8">
<div class="comments media-group-container">

            <div class="media custom-media">
                    <h3>{% trans "Leave a comment" %}</h3>

                    <form method="post" id="comment" action="{{ comment_url }}#comment">
                        <input id="no_fs_id_email" name="no_fs" type="hidden" value="1" />
    {% if not request.POST.replied_to %}
    {% fields_for posted_comment_form %}
    {% else %}
    {% fields_for unposted_comment_form %}
    {% endif %}
                        <div class="form-group custom-lider-form-group input_id_name">
                            <label class="text-uppercase">Name </label> <sup class="asterisk">*</sup>
                            <input autocomplete="off" name="name" class="form-control custom-form-control-br-bottom " id="id_name" required type="text">

                        </div>

                        <div class="form-group custom-lider-form-group input_id_email">
                            <label class="text-uppercase">Email Address </label> <sup class="asterisk">*</sup>
                            <input autocomplete="off" name="email" class="form-control custom-form-control-br-bottom " id="id_email" required type="email">

                        </div>
          
                      <div class="form-group custom-lider-form-group text-area-margin">

                        <textarea class="form-control custom-text-area" id="id_comment" name="comment" rows="2" placeholder="Add Public Comments" maxlength="150" required=""></textarea>
                      </div>

                      <div class="form-group custom-lider-form-group">
                        <input value="Save" class="btn btn-default custom-btn btn-lg btn-submit" disabled="disabled" type="submit" id="submit">
                      </div>
                    </form>
                </div>

    {% if no_comments %}
    <h6 class="h6-label-black">{% trans "There are currently no comments" %}</h6>
    {% else %}
    <h6 class="h6-label-black text-uppercase">{% spaceless %}
            {% blocktrans count comments_count=blog_post.comments_count %}{{ comments_count }} comment{% plural %}{{ comments_count }} Comments{% endblocktrans %}
            {% endspaceless %}</h6>
    {% endif %}

{% comment_thread object_for_comments %}

</div>

</div>


