{% load i18n mezzanine_tags comment_tags rating_tags %}

    {% for comment in comments_for_thread %}

        <div class="media custom-media" id="comment-{{ comment.id }}">
            <div class="media-left media-middle custom-media-left">
                <img class="media-object-user img-circle" src="https://firstsynchvideos.s3.amazonaws.com/user_profile/basic_profile/profile_picture/2017/05/15/profileicon.png" alt="FirstSynch">
            </div>

            <div class="media-body custom-media-body">
                <h5 class="media-heading highlighted-green custom-media-heading">{{ comment.user_name }}</h5>
                <h5 class="media-eading-h5">{{ comment.comment|comment_filter }}</h5>
                <h6 class="custom-h6-label-model">{% blocktrans with sometime=comment.submit_date|timesince %}{{ sometime }} ago{% endblocktrans %}</h6>
                <a href="#reply-{{ comment.id }}" class="reply">
                  <span class="category_btn1">{% trans "Reply" %}</span>
                </a>
                
                    <form class="reply-form" method="post" id="reply-{{ comment.id }}"
                action="{{ comment_url }}#reply-{{ comment.id }}" 
                       {% if replied_to != comment.id %}style="display:none; width: 100%; max-width: 500px;"{% endif %}>
                    <br>
                    
                    <input id="no_fs_id_email_{{ comment.id }}" name="no_fs" type="hidden" value="1" />   
                    {% if replied_to == comment.id %}
                    {% fields_for posted_comment_form %}
                    {% else %}
                    {% fields_for unposted_comment_form %}
                    {% endif %}
                    <input type="hidden" name="replied_to" value="{{ comment.id }}">

                        <div class="form-group custom-lider-form-group input_id_name_{{ comment.id }}">
                            <label class="text-uppercase">Name </label> <sup class="asterisk">*</sup>
                            <input autocomplete="off" name="name" class="form-control custom-form-control-br-bottom " id="id_name_{{ comment.id }}" required type="text">

                        </div>

                        <div class="form-group custom-lider-form-group input_id_email_{{ comment.id }}">
                            <label class="text-uppercase">Email Address </label> <sup class="asterisk">*</sup>
                            <input autocomplete="off" name="email" class="form-control custom-form-control-br-bottom " id="id_email_{{ comment.id }}" required type="email">

                        </div>
          
                      <div class="form-group custom-lider-form-group text-area-margin">

                        <textarea class="form-control custom-text-area" id="id_comment_{{ comment.id }}" name="comment" rows="2" placeholder="Add Public Comments" maxlength="150" required=""></textarea>
                      </div>

                      <div class="form-group custom-lider-form-group">
                        <input type="hidden" name="replied_to" value="{{ comment.id }}">
                        <input value="Reply" class="btn btn-default custom-btn btn-lg btn-submit" disabled="disabled" type="submit" id="submit{{ comment.id }}">

                      </div>
                    </form>
                
                {% comment_thread comment %}
            </div>
            <div></div>
        </div>
    {% endfor %}



