{% load blog_tags i18n %}
{% spaceless %}
<ul class="nav navbar-nav">
    <li class="{% if not category %}active{% endif %}">
    <a href="/">
            Show All 
        </a></li>
{% blog_categories as categories %}
{% if categories %}


{% for cat in categories %}

    <li class="{% if category == cat %}active{% endif %}">
    	<a href="{% url "blog_post_list_category" cat.slug %}">{{ cat }}</a></li>
{% endfor %}

{% if settings.ACCOUNTS_ENABLED %}
<li>
	<a href="" data-toggle="modal" data-target="#logIn" style="cursor:pointer" data-dismiss="modal" class="">Login</a>
</li>

<li>
	<a href="" data-toggle="modal" data-target="#registration" style="cursor:pointer" data-dismiss="modal" class="">Sign up</a>
</li>
{% endif %}

{% endif %}
</ul>
{% endspaceless %}
