<div class="modal fade custom-model custom-model-registration" id="logIn" role="dialog">
  <form name="userloginform" id="reset_forms">
    <div class="modal-dialog custom-modal-880" role="document">
      <div class="modal-content custom-modal-video-content">
        <div class="modal-header cusom-model-dashboard-header">
          <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
          <h1 class="custom-h1-01 text-center title-login">Log In</h1>
        </div>

        <div class="modal-body custom-modal-body-login">
          <span style="color:red;" class="error_message common_js_remove_clas">{{status}}</span>
          <div class="form-group">
            <label class="text-uppercase" >Email Address </label> <sup class="asterisk">*</sup>
            <input autocomplete="off" type="email" name="username" class="form-control custom-form-control-br-bottom" />
          </div>

          <div class="form-group">
            <label class="text-uppercase" >Password</label> <sup class="asterisk">*</sup>
            <input autocomplete="off" type="password" name="password" class="form-control custom-form-control-br-bottom" id="password" />
            <input type="hidden" name="redirecturl" id="redirecturl" value="" />
            <input type="hidden" name="videoid" id="videoid" value="" />
          </div>
        </div>

        <div class="modal-footer custom-login-modal-footer custom-login-modal-footer-02">
          <button id="loginbtn" class="btn btn-default custom-btn-login custom-btn-login-enbled">Log in <img src="assets/images/loader.gif" class="loader_icon" style="width: 20px; margin-left: 10px; display:none;"></button>
          <a href="{{facebookloginurl}}" class="btn btn-default custom-btn-login bg-facebook">Signin with Facebook</a>
          <a data-toggle="modal" id="Forgotpswdlink" data-target="#ForgotPassword" data-dismiss="modal" href="#" class="link-forgot-password">Forgot Password?</a>
        </div>

      </div>
    </div>
  </form>
</div>
<!-- logIn Modal Ends -->
