<!-- Modal Registration content Start-->
<div class="modal fade custom-model custom-model-registration" role="dialog" id="registration">
  <form name="findusertype">
    <div class="modal-dialog custom-modal-880">
      <div class="modal-content custom-modal-video-content">
        <div class="modal-header cusom-model-dashboard-header">
          <button type="button" class="close custom-modal-close" data-dismiss="modal">&times;</button>
          <div class="page-step-container">
            <!--<span>Step 1 of 2</span>-->
          </div>
          <h1 class="custom-h1-01 text-center">Registration</h1>
        </div>

        <div class="modal-body custom-modal-body-login">
          <div style="color: red; font-weight: bold;" class="common_js_remove_cla signuperrormsg"></div>
          <div class="form-group">
            <label for="Your Emai" class="text-uppercase" >Your Email</label> <sup class="asterisk">*</sup>
            <input type="email" name="email" class="form-control custom-form-control-br-bottom" id="your-email" placeholder="Sign up to FirstSynch with your email address" required style="text-transform: lowercase !important;"/>
          </div>
          <div class="row custom-row-20">
            <div class="col-sm-6">
            <div class="list-register-group">
              <h5 class="custom-h5-01">RECRUITER</h5>
              <ul class="list-unstyled">
                <!--<li data-icon="—" class="icon-list">Create your custom webpage</li>-->
                <li data-icon="—" class="icon-list">Sign up using your corporate email</li>
                <li data-icon="—" class="icon-list">Update your company profile</li>
                <li data-icon="—" class="icon-list">Follow Seekers</li>
                <li data-icon="—" class="icon-list">Post Jobs</li>
              </ul>
              </div>
              <!-- <a data-toggle="modal" data-dismiss="modal" ng-click="clearverifypopup()" data-target="#companyverify" style="cursor:pointer" class="link-all link-green link-green-popup">I've made a video on a recent Careeer Fair</a> -->
            </div>
            <div class="col-sm-6">
             <div class="list-register-group">
              <h5  class="custom-h5-01">SEEKER</h4>

                <ul class="list-unstyled">
                  <!--<li data-icon="—" class="icon-list">Create your custom webpage</li>-->
                  <li data-icon="—" class="icon-list">Sign up using your personal email</li>
                  <li data-icon="—" class="icon-list">Follow employees and companies</li>
                  <!--<li data-icon="—" class="icon-list">Search for jobs</li>-->
                  <li data-icon="—" class="icon-list">Search for jobs</li>
                  <li data-icon="—" class="icon-list">Browse Fairs</li>
                </ul>
                </div>
              </div>
            </div>

          </div>

          <div class="modal-footer custom-login-modal-footer">
            <a href="{{facebookloginurl}}" class="btn btn-default custom-btn-login bg-facebook">Sign up with Facebook</a>
            <button class="btn btn-default custom-btn-login">Next</button>
          </div>

        </div>


      </div>
    </form>
  </div>
  <!-- Modal Registration content End-->