{% extends "pages/page.html" %}

{% load mezzanine_tags staticfiles %}

{% block main_class %}col-md-12{% endblock %}

{% block main %}
{{ block.super }}

{% editable page.gallery.content %}
{{ page.gallery.content|richtext_filters|safe }}
{% endeditable %}

<div class="row gallery">
{% with page.gallery.images.all as images %}
{% for image in images %}
<div class="col-xs-6 col-sm-3 col-md-2">
    <a class="thumbnail" rel="prettyPhoto[gal]" title="{{ image.description }}" href="{{ MEDIA_URL }}{% thumbnail image.file 0 600 %}">
        <img class="image-overlay-thumb" src="{{ MEDIA_URL }}{% thumbnail image.file 310 310 %}">
    </a>
</div>
{% endfor %}
{% endwith %}
</div>
{% endblock %}

{% block right_wrapper %}{% endblock %}
